<section>
  <div class="spacer">
    <div class="container">
      <div class="row mt-5">
        <div class="col-lg-9">
          <div class="row shop-listing">
            <div class="col-lg-4" *ngFor="let product of products">
              <div class="card shop-hover border-0">
                <img [src]="product.image" width="130" height="180" />
              </div>

              <div class="card border-0">
                <h6 width="200px">
                  <p>{{ product.name }}</p>
                </h6>
                <h5 class="font-medium m-b-30">
                  ${{product.price}}
                </h5>
              </div>
              <div class="align-items-center" style="padding-top: 20px;">
                <button class="btn btn-md btn-info" (click)="_addItemToCart(product)">Add to Cart</button>
                <div><span class="addMessage">{{product.addMessage}}</span></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>